{% if notifications %}
    <h3 class="text-center border-bottom mt-2 p-1">Notifications({{ notifications.count }})</h3>
    <div class=" m-3 notification-content">
        {% for notification in notifications %}
            {% if notification.post %}
                {% if notification.notification_type == 1 %}
                    <div class="notification-item">
                        <a href="{% url 'post-notification' notification.pk notification.post.pk %}">@{{notification.from_user}} liked your post</a>
                        <span class="notification-item-close">&times;</span>
                    </div>
                {% elif notification.notification_type == 2 %}
                    <div class="notification-item">
                        <a href="{% url 'post-notification' notification.pk notification.post.pk %}">@{{notification.from_user}} commented your post</a>
                        <span class="notification-item-close">&times;</span>
                    </div>
                {% endif %}
            {% elif notification.comment %}
                {% if notification.notification_type == 1 %}
                    <div class="notification-item">
                        <a href="{% url 'post-notification' notification.pk notification.comment.post.pk %}">@{{notification.from_user}} liked your comment</a>
                        <span class="notification-item-close">&times;</span>
                    </div>
                {% elif notification.notification_type == 2 %}
                    <div class="notification-item">
                        <a href="{% url 'post-notification' notification.pk notification.comment.post.pk %}">@{{notification.from_user}} replied to your comment</a>
                        <span class="notification-item-close">&times;</span>
                    </div>
                {% endif %}
            {% else %}
            <div class="notification-item">
                <a href="{% url 'follower-notification' notification.pk notification.from_user.username %}">@{{notification.from_user}} has started following you</a>
                <span class="notification-item-close">&times;</span>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}